.contents.row
  .container
    %h3.new_title Training edit
    = form_with model: @tweet, html: { class: "form" }, local: true do |f|
      .input 
        = f.text_field :name, placeholder: "メニュー名", class: 'title'
        = f.text_area :text, placeholder: "メニュー内容", class: 'textarea'
      = f.label :image, class: 'image' do
        = icon('far', 'image', class: 'fa-image')
        = f.file_field :image, class: 'fa-image'
        動画を選択する
      .submit
        = f.submit '編集する', class: 'submit_list'