-# = flash[:notice]
.contents.row
  .scroll
    - @tweets.each do |tweet|
      -# .content_post{:style => "background-image: url(#{tweet.image});"}
      .content_tweet
        .content_tweet__header
          .content_tweet__header__right
            = link_to image_tag(tweet.user.image.to_s, class:"content_tweet__header__right__image"), user_path(tweet.user.id)
            .content_tweet__header__right__nickname
              = tweet.user.nickname
          .content_tweet__header__other
            -# 後でここにif文を記述 自身のツイートの場合表示、違う場合はコメント
            %ul.menu
              %li
                %i.fas.fa-bars
                - if user_signed_in? && current_user.id == tweet.user_id
                  %ul
                    %li
                      = link_to '詳細', tweet_path(tweet.id)
                    %li
                      = link_to '編集', edit_tweet_path(tweet.id), method: :get
                    %li
                      = link_to '削除', tweet_path(tweet.id), method: :delete
                - else
                  %ul
                    %li
                      = link_to '詳細', tweet_path(tweet.id), class:""

        .content_post
          = video_tag tweet.video.url, controls: true, class:"content_post__image"
        .content_like
          %span#likes_buttons{ id: tweet.id}
            = render partial: 'likes/like', locals: { tweet: tweet, likes: @likes}

        .content_text
          %span.name
            トレーニング名：
            = tweet.name
          %span.text 
            トレーニング内容： 
            = tweet.text

        
        
