.contents.row
  .container
    %h3 Training Share
    = form_with(model: @tweet, local: true) do |f|
      = f.text_field :name, placeholder: "メニュー名", class: 'title'
      = f.text_field :text, placeholder: "メニュー内容", class: 'text'
      = icon('far', 'image', class: 'fa-image')
      = f.submit 'SEND', class: 'submit'