.mypage
  .mypage__container
    .mypage__container__header
      .mypage__container__header__picture
        = image_tag @user.image.to_s, class: "mypage__container__header__picture__image"
      .mypage__container__header__main
        .mypage__container__header__main__name
          = @user.nickname
          - unless @user == current_user
            - unless current_user.following?(@user)
              = link_to "フォローする", follow_path(@user.id), method: :POST, class: "follow-black"
            - else
              = link_to "フォローを外す", unfollow_path(@user.id), method: :POST, class: "follow-black"
          - else
            = link_to "設定", "#", class:"follow-black"
        %ul.mypage__container__header__main__lists
          %li.mypage__container__header__main__lists__list 投稿#{@count}件
          %li.mypage__container__header__main__lists__list フォロー#{@user.follower.count}人
          %li.mypage__container__header__main__lists__list フォロワー#{@user.followed.count}人
        .mypage__container__header__main__text
          = @user.text

    -# ヘッダー部分
    .mypage__container__main
      .mypage__container__main__image
        - @tweets.each do |tweet|
          %section.image-image
            = link_to video_tag(tweet.video.url, controls: true, class:"mypage__container__main__image__images"), tweet_path(tweet.id)
            .mypage__container__main__image__name
              %p トレーニング名： #{tweet.name}
            .mypage__container__main__image__text
              %p トレーニング内容： #{tweet.text}
         

-# .image-modal-wrapper
-#   %i.fa.fa-2x.fa-times
-# .image-modal-images

    
    
