-# ビデオ再生
= video_tag 'top-movie.mp4', autoplay: true, loop: true, muted: true, class: 'content__box__video'

.flash-alert
  = flash[:alert]
.flash-notice
  = flash[:notice]
.Header
  .Header__container
    .Header__log
      - if user_signed_in?
        = link_to "MuscleBot", root_path
      - else
        .sign_modal_content MuscleBot
    .Header__lists
      - if user_signed_in?
        %ul
          %li.Header__list
            = link_to "閲覧ページ", tweets_path
          %li.Header__list
            = link_to "投稿する", new_tweet_path
          %li.Header__list
            = link_to "ログアウト", destroy_user_session_path, method: :delete
      - else
        %ul
          %li.Header__list
            .sign_modal_content 閲覧ページ
          %li.Header__list
            .sign_modal_content ログイン
          %li.Header__list
            = link_to "新規登録", new_user_registration_path

-# タイピング
.typing
  .typed_wrap
    %h1
      %span.typed 

= render '/devise/sessions/new'
-# -# ログインモーダル表示
-# .sign_modal_wrapper
-# .sign_modal_sign-in
-#   .sign_modal_sign-in__view
-#     .sign_in_modal.sign_modal_content
-#     = flash[:alert]
-#     %i.fa.fa-2x.fa-times
-#     %h2.modal-header ログインフォーム
-#     %form.new_login{"accept-charset" => "UTF-8", :action => "/users/sign_in", :method => "post"}
-#       %input{:name => "utf8", :type => "hidden", :value => "✓"}/
-#       %input{:name => "authenticity_token", :type => "hidden", :value => "oHLlAj0JDR0syLFJq8pvBZgP3Tf2VBOuOl5VCtX7PkCHoBYqWAzU0+4Jy9zYT3kVMvzGwQ1/TTBeud1NLIX/xA=="}/
-#       .field
-#         %label{:class => "field__label", :for => "user_email"} メールアドレス
-#         %br/
-#         %input{:class => "field__input", :autocomplete => "email", :autofocus => "autofocus", :name => "user[email]", :type => "email", :value => ""}/
-#       .field
-#         %label{:class => "field__label", :for => "user_password"} Password
-#         %br/
-#         %input{:class => "field__input", :autocomplete => "current-password", :name => "user[password]", :type => "password"}/
-#       .remenber
-#         %input{:name => "user[remember_me]", :type => "hidden", :value => "0"}/
-#         %input{:name => "user[remember_me]", :type => "checkbox", :value => "1"}/
-#         %label{:for => "user_remember_me"} パスワードを記憶する
-#       .actions
-#         %input{:class => "actions__submit", "data-disable-with" => "ログイン", :name => "commit", :type => "submit", :value => "ログイン", id: 'submit'}/
-# おすすめの筋トレ
-# %section.update
-#   .C_container
-#     .title
-#       %h2 
-#         %span.sub PHOTO
-#         おすすめの筋トレ
-#     .P_container
-#       .line1
-#         .image
-#           .P_table.image1
-#             %span
-#             .name_container
-#               %h4 トトログさん
-#               %p 腹筋
-#         .image
-#           .P_table.image2
-#             %span
-#             .name_container
-#               %h4 トトログさん
-#               %p 腹筋
-#         .image
-#           .P_table.image3
-#             %span
-#             .name_container
-#               %h4 トトログさん
-#               %p 腹筋
-#       .line2
-#         .image
-#           .P_table.image4
-#             %span
-#             .name_container
-#               %h4 トトログさん
-#               %p 腹筋
-#         .image
-#           .P_table.image5
-#             %span
-#             .name_container
-#               %h4 トトログさん
-#               %p 腹筋
-#         .image
-#           .P_table.image6
-#             %span
-#             .name_container
-#               %h4 トトログさん
-#               %p 腹筋
