

!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Musclebot
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    .flash-alert
      = flash[:alert]
    .flash-notice
      = flash[:notice]
    .Header
      .Header__container
        .Header__log
          - if user_signed_in?
            = link_to "MuscleBot", root_path
          - else
            = link_to "MuscleBot", '#', class: "sign_modal_content"
        .Header__lists
          - if user_signed_in?
            %ul
              %li.Header__list
                = link_to "閲覧ページ", tweets_path
              %li.Header__list
                = link_to "投稿する", new_tweet_path
                %li.Header__list
                = link_to "マイページ", user_path(current_user.id)
              %li.Header__list
                = link_to "ログアウト", destroy_user_session_path, method: :delete
          - else
            %ul
              %li.Header__list
                = link_to "閲覧ページ", '#', class: "sign_modal_content"
              %li.Header__list#login-page
                = link_to "ログイン", '#', class: "sign_modal_content"
              %li.Header__list
                = link_to "新規登録", new_user_registration_path
    = yield
    %footer
      %p Copyright MuscleBot 2020.
      